.header {
  margin-bottom: 50px;
}

.route-row {
  min-height: 50px;
}

.route-row .title {
  font-size: 1.5em;
}

.route-row .rating {
  min-height: 50px;
  border: solid 5px black;

  text-align: center;

  font-size: 1.5em;
}
